*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.center{
    display: flex;
    flex-wrap: wrap;
    max-width: 93.7%;
    margin:0% auto;
    padding:0% 2%;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}
header{
    padding: 1.45% 0;
    
}


.logo{
    width:10%;
    
    
}
.menu{
    padding-top: 4.1%;
    width: 50%;
    text-align: right;

}
.menu a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 2.46%;
    
}
section.sobre{
    height:100%;
    position: relative;
}
.extras{
    position: absolute;
    bottom: -76.1%;
    right: -29.3%;
    width: 87.85%;
    height: 182.7%;
    

}
.texto-sobre{
    margin-top: 8.2%;
}
.texto-sobre h1{
    font-size: 187.5%;
}
.imagem1{
    transition: all 0.5s;
    cursor: pointer;
    margin: 9.2%;
}
.imagem1:hover{
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}
.social{
    position: absolute;
    right: 34.15%;
    top: 6.7%;
}
.social img{
    display: block;
    margin: 66.2% 0;
}
.clube{
    padding-top: 4.1%;
    width: 40%;
    text-align: left;
    
}
.clube h1{
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-left: 4.05%;
}
